:root {
    --dark-blue: #1a237e; /* header title, table info, X and 0 signs, restart button, restart button border, footer background */
    --lavender: #ede7f6; /* title background, table background, footer text */
    --light-blue: #c5cae9; /* header border, table cells border, restart button background */
    --white: #fcf4fd; /* table cells background */
    --cell-hover: #b291ff;
    --button-hover: #a2a7ca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

body {
    line-height: 1.6;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    padding: 32px;
    border-bottom: 5px solid var(--dark-blue);
}

.title {
    color: var(--dark-blue);
    font-size: 6rem;
    line-height: 1.2;
}

.info {
    color: var(--dark-blue);
    font-size: 3rem;
    padding: 15px 0 15px 0;
}

.cell {
    color: var(--dark-blue);
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.cell:hover {
    background-color: var(--cell-hover);
}

.restart-button:hover {
    background-color: var(--button-hover);
}

.content {
    background-color: var(--lavender);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restart-button {
    cursor: pointer;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 5px;
    background-color: var(--light-blue);
    height: 90px;
    width: 220px;
    font-size: 3rem;
}

.button-container {
    margin: 30px 0 30px 0;
}

.footer {
    background-color: var(--dark-blue);
    color: var(--lavender);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.table {
    background-color: var(--lavender);
    height: 454px;
    width: 454px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid var(--dark-blue);
}

@media (max-width: 660px) {
    body {
        grid-template-rows: 1fr 5fr 1fr;
    }

    .title {
        font-size: 4rem;
    }

    .info {
        font-size: 2rem;
    }

    .table {
        height: 394px;
        width: 394px;
        border: 2px solid var(--dark-blue);
    }

    .cell {
        height: 130px;
        width: 130px;
        font-size: 4rem;
    }

    .restart-button {
        height: 70px;
        width: 160px;
        font-size: 2rem;
    }
}

@media (max-width: 525px) {
    body {
        grid-template-rows: 1fr 6fr 1fr;
    }

    .title {
        font-size: 3rem;
    }

    .table {
        height: 304px;
        width: 304px;
    }
    
    .cell {
        height: 100px;
        width: 100px;
    }

    .restart-button {
        height: 60px;
        width: 140px;
        font-size: 1.7rem;
    }
}
